
body{
	margin:0;
}
.block{

    background:white; 
	position: absolute;

}
.block_move{
	position: absolute;
	border-radius :2px;
	opacity: 0.7;
	background-color:lime; 
}
.figurs{
	margin-left: 700px;
}

.restart{
	float: right;
}
#end_game{

	float: right;
	background-color: red;	
}
#points{
	position: absolute;
	font-size: 2.1em;
	color: #BDBDBD;
	border: 2px #BDBDBD dashed;
	border-radius: 1em;
	padding: 10px;
}